
@{
    ViewData["Title"] = "Beam";
}

<h2>Beam</h2>

<div id="base">
    <button type="button" onclick="DataClear()" id="clearbtn" class="btn-default btn-sm">データの消去</button>
    <div class="container-fluid" style="padding-left:0px;padding-right:0px">
        <div class="row">
            <div class="col-xs-12">
                <div id="datalist">
                    <p class=" text-warning">Retrieving</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Error</h4>
            <div class="col-xs-12">
                <div id="errlist">
                    <p class=" text-warning">Retrieving</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var preData = {};
        timout_id = null;
        loop();

        function loop() {
            $.getJSON('Beam/GetCurrentUpdate')
                .done(function (data) {
                    UpdateViews(data);
                })
                .fail(function (xhr, status, error) {
                    window.alert('error:' + error);
                })
                .always(function () {
                     timout_id = setTimeout(function () { loop(); }, 5000);
                });
       }
        function UpdateViews(data) {
            clearTimeout(timout_id);
            if (preData.lastDate !== data.lastDate) {
                $("#datalist").load("Beam/UpdateDataTable");
            }
            if (preData.errorDate !== data.errorDate) {
                $("#errlist").load("Beam/UpdateErrTable");
            }
            preData = data;
        }

        function DataClear() {
            window.alert('消去に1分程度かかります。');
            CommentDatalist("Deleting")
            clearTimeout(timout_id);
            document.getElementById('clearbtn').disabled  = "true";
            document.getElementById('clearbtn').style.cursor = 'wait';
            document.getElementById('datalist').style.cursor = 'wait';
            document.getElementById('errlist').style.cursor = 'wait';
            document.getElementById('base').style.cursor = 'wait';
            $.post('Beam/DataClear')
                .done(function () {
                })
                .fail(function (xhr, status, error) {
                    window.alert('error:' + error);
                })
                .always(function () {
                    preData = {};
                    document.getElementById('base').style.cursor = 'auto';
                    document.getElementById('clearbtn').style.cursor = 'auto';
                    document.getElementById('datalist').style.cursor = 'auto';
                    document.getElementById('errlist').style.cursor = 'auto';
                    document.getElementById('clearbtn').disabled = "";
                    timout_id = setTimeout(function () { loop(); }, 5000);
                });
       }
        function CommentDatalist(comment) {
            var list = document.getElementById('datalist');
            if (list !== null)
                list.innerHTML = comment;
            list = document.getElementById('errlist');
            if (list !== null)
                list.innerHTML = comment;
       }
    </script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/googlechart.js"></script>
}

