@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ var tdsObj = Model.TdsObject;}
@if (tdsObj.ErrorDate() == 0)
{
    <h1>エラー情報はありません。</h1>
}
else
{
    <div id="err_div" style="height:inherit"></div>

    <script type="text/javascript" on-content-loaded="true">
        ViewTable({
            url: '@Model.Url',
            elementId: 'err_div',
            pageSize: 5
        });
    </script>
}
