@{
    ViewData["Title"] = "Home Page";
}

<h4>操作方法</h4>
<dl class="dl-horizontal">
    <dt><a href="Funnel">Funnel</a></dt>
    <dd>Funnel サービスを通して受信した測定データを表示します。</dd>
    <dt><a href="Beam">Beam</a></dt>
    <dd>Beam サービスを通して受信した測定データを表示します。</dd>
    <dt><a href="Harvest">Harvest</a></dt>
    <dd>Harvest サービスから測定データを取得し表示します。</dd>
</dl>
